.container{
    display: flex;
   flex-direction: column;
   width: 100%;
   justify-content: center;
   align-items: center;
}

img{
    width: 300px;
    height: 300px;
    margin-top: 8%;
}

.textFrase{
    font-style: italic;
    color: #dd7b20;
    text-align: center;
}

.Btn{
    width: 100px;
    height: 37px;
    background-color: rgb(206, 161, 13);
    border-radius: 5px;
    font-style: italic;
    font-weight: bold;
    cursor: pointer;
    opacity: 1;
}


.Btn:hover{
    opacity: 0.9;
}